<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container pt-3">
    <div class="row">
        <p class="col-sm-4" style="background-color:red;">My First Bootstrap Page</p>
        <p class="col-sm-8" style="background-color:blue;">This is some text.</p>
    </div>
</div>

<div class="container-sm p-3 my-3 border">
    <h1>ME</h1>
</div>

<div class="container-md p-3 my-3 bg-dark text-white">
    <h1>ME</h1>
</div>

<div class="container-lg p-3 my-3 bg-primary text-white">
    <h1>ME</h1>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>