<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container pt-3" style="background-color:pink;">
    <h1>My First Bootstrap Page</h1>
    <p>This is some text.</p>
</div>

<div class="container p-3 my-3 border">
    <h1>ME</h1>
</div>

<div class="container p-3 my-3 bg-dark text-white">
    <h1>ME</h1>
</div>

<div class="container p-3 my-3 bg-primary text-white">
    <h1>ME</h1>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>